		<!-- Footer -->
		<footer>
			<div class="container-fluid">
	<!-- Footer Top -->
	<div class="row">
		<div aria-label="Kansas City skyline " class="col-lg-12 footer-top" role="img">
			<div class="footer-top-inner">				
                    <a class="umkc-btn umkc-dark-blue-border text-umkc-dark-blue" href="https://futureroo.umkc.edu/apply/" role="button" tabindex="0"><span class="btn-arrow-right">Apply</span></a>              
                    <a class="umkc-btn umkc-dark-blue-border text-umkc-dark-blue" href="https://www.umkc.edu/admissions/visit/index.html" role="button" tabindex="0"><span class="btn-arrow-right">Visit</span></a>
                    <a class="umkc-btn umkc-dark-blue-border text-umkc-dark-blue" href="https://www.umkc.edu/admissions/get-info.html" role="button" tabindex="0"><span class="btn-arrow-right">Get Info</span></a>
			</div>
		</div>
	</div>
	<!-- Footer Top End -->
</div>
			<div class="container-fluid"><!-- Footer Middle -->
<div class="row">
<div class="col-lg-12 footer-mid bg-umkc-dark-blue">
<div class="row">
<div class="col-xl-8 col-lg-7 col-md-12 text-white">
<h5>University of Missouri-Kansas City</h5>
</div>
<div class="col-xl-4 col-lg-5 col-md-12">
<div class="row social-icons">
<div class="social-item mr-3 mr-md-4"><a aria-label="UMKC Facebook" class="facebook" href="https://www.facebook.com/UMKansasCity/" title="UMKC Facebook"></a></div>
<div class="social-item mr-3 mr-md-4"><a aria-label="UMKC Twitter" class="twitter" href="https://twitter.com/UMKC" title="UMKC Twitter"></a></div>
<div class="social-item mr-3 mr-md-4"><a aria-label="UMKC Instagram" class="instagram" href="https://www.instagram.com/umkcinkansascity/" title="UMKC Instagram"></a></div>
<div class="social-item mr-3 mr-md-4"><a aria-label="UMKC YouTube" class="youtube" href="https://www.youtube.com/user/UMKC" title="UMKC YouTube"></a></div>
<div class="social-item mr-3 mr-md-4"><a aria-label="UMKC LinkedIn" class="linkedin" href="https://www.linkedin.com/school/umkc/" title="UMKC LinkedIn"></a></div>
<div class="social-item mr-3 mr-md-4"><a aria-label="UMKC TikTok" class="tiktok" href="https://www.tiktok.com/@umkc_roos" title="UMKC TikTok"></a></div>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-3 col-lg-6 col-md-6 py-2 py-md-3">
<h6><a class="text-white" href="tel:816-235-1000">816-235-1000</a></h6>
<p class="text-white">Volker Campus <br/> 5000 Holmes St. <br/> Kansas City, MO 64110</p>
</div>
<div class="col-xl-3 col-lg-6 col-md-6 py-2 py-md-3">
<h6 class="d-none d-md-block">&#160;</h6>
<p class="text-white">Health Sciences Campus <br/> 2464 Charlotte St. <br/> Kansas City, MO 64108</p>
</div>
<div class="col-xl-3 col-lg-6 col-md-6 py-2 py-md-3">
<div class="white-border-left">
<h6 class="text-white">University Services</h6>
<p class="text-white"><a class="text-white" href="https://www.umkc.edu/about/leadership.html">University Leadership</a> <br/> <a class="text-white" href="https://www.umkc.edu/academics/index.html">Schools and Departments</a> <br/> <a class="text-white" href="https://info.umkc.edu/disability-services/">Disability Services</a></p>
</div>
</div>
<div class="col-xl-3 col-lg-6 col-md-6 py-2 py-md-3">
<h6 class="text-white"><a class="text-white" href="https://www.umkc.edu/athletics/index.html">Athletics</a> <br/> <a class="text-white" href="https://www.umkc.edu/news/index.html">UMKC News</a></h6>
</div>
</div>
</div>
</div>
<!-- Footer Middle End--></div>
			
			
<div class="container-fluid">
	<!-- Footer Bottom -->
	<div class="row">
		<div class="col-lg-12 footer-bottom bg-umkc-blue">
			<div class="row">				
				<div class="col-xl-3 col-lg-6 col-md-6 footer-bottom-img">
					<a href="index.html">
						<img alt="University of Missouri-Kansas City - home." class="img-fluid" src="https://www.umkc.edu/global-assets/images/umkc_white_cropped2.png"/>
					</a>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 py-md-3">
					<p class="blue-border-left">
                        <a class="text-white" href="https://www.umkc.edu/about/maps.html">Location and Maps</a>
                        <br/>
                        <a class="text-white" href="https://www.umkc.edu/calendar/">Campus Calendar</a>
                        <br/>
                        <a class="text-white" href="https://www.umkc.edu/az-index.html">A-Z Index</a>
                        <br/>
                        <a class="text-white" href="https://info.umkc.edu/hr/careers/">Jobs</a>
                        <br/>
                        <a class="text-white" href="https://net3.umkc.edu/intapps/lookup">Directory</a>
					</p>									
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 py-md-3">
					<p class="blue-border-left">
                        <a class="text-white" href="https://info.umkc.edu/diversity/">Diversity and Inclusion</a>
                        <br/>
                        <a class="text-white" href="https://library.umkc.edu/">Libraries</a>
                        <br/>
                        <a class="text-white" href="https://info.umkc.edu/help/">Help Central</a>
                        <br/>
                        <a class="text-white" href="https://www.umkc.edu/registrar/forms-resources/student-resources/consumer-information.html">Consumer Information</a>
                        <br/>
                        <a class="text-white" href="https://info.umkc.edu/accreditation/">Accreditation</a>
					</p>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6 py-md-3 py-1">
					<p class="text-white font-weight-bold">
                        <a class="text-white" href="https://www.umkc.edu/email/">Webmail</a>
                        <br/>
                        <a class="text-white" href="https://umkc.umsystem.edu/">Pathway</a>
                        <br/>
                        <a class="text-white" href="https://umsystem.instructure.com/">Canvas</a>
                        <br/>
                        <a class="text-white" href="https://umkc.starfishsolutions.com/starfish-ops/support/login.html">UMKC Connect</a>
                        <br/>
                        <a class="text-white" href="https://myroo.umkc.edu/">MyRoo</a>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-white py-3 py-md-1">
                    <p class="curator"><a href="https://www.umsystem.edu/">© 2023 Curators of the University of Missouri</a> | <a href="https://www.umkc.edu/disability-resources.html">Disability Resources</a> | <a href="https://www.umkc.edu/privacy-policy/index.html">Privacy Policy</a> | <a href="https://www.umsystem.edu/ums/copyright/">DMCA Policy</a> | <a href="https://www.umkc.edu/submit-a-web-ticket.html">Issues with this website?</a> | <a href="https://cms.umkc.edu/entity/open.act?id=2878341bac1e04cd24e3d1e1bd8a80e3&amp;type=page&amp;action=edit">Editor Access</a></p>
                    <p class="curator">UMKC is an equal opportunity/access/affirmative action/pro-disability and veteran employer and does not discriminate on the basis of sex in our education programs or activities, pursuant to Title IX and 34 CFR Part 106. For more information, visit our <a href="https://www.umkc.edu/nondiscrimination.html">UMKC Statement of Nondiscrimination</a>.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Bottom End-->
</div>
		</footer>
		<!-- /.Footer -->
		<!-- Back 2 Top button -->
		<div class="back2top"><i class="fa fa-arrow-up"></i></div>
		<!-- /.Back 2 Top button -->
		<!-- GDPR BANNNER -->
		<div class="privacy-banner">
<div class="text-center banner-wrapper">
<p>We use cookies to provide and improve our services. By using our site, you consent to cookies.</p>
<div class="umkc-btn umkc-btn-dark banner-accept" role="button" tabindex="0"><a class="text-umkc-white py-3" href="#">Accept</a></div>
<div class="umkc-btn umkc-btn-dark banner-learn" role="button" tabindex="0"><a class="text-umkc-white py-3" href="https://umkc.edu/web-policy/privacy.asp">Learn More</a></div>
</div>
</div>