#applicantTable {
    width: 80%; 
    margin: 0 auto; 
}

#applicantTable td,
#applicantTable th {
    padding: 8px; 
}

@media (max-width: 767px) {
    #applicantTable {
        width: 100%; 
    }

    #applicantTable td,
    #applicantTable th {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
