<div class="breadcrumbs 123">
  <div class="content-wrapper">
    <a href="https://www.umkc.edu/index.html">Home</a> / <a href="/">GTA/Grader</a> / <a href="/contact">Contact Us</a>
  </div>
</div>

<div class="text-center mb-5">
  <h1>Contact Us</h1>
</div>

<section class="contact">
  <div class="box-container">
    <div class="box">
      <i class="fas fa-phone"></i>
      <a href="tel:8162351301">816-235-1301</a>
    </div>

    <div class="box">
      <i class="fas fa-envelope"></i>
      <a href="mailto:umkcsgs@umkc.edu">umkcsgs@umkc.edu</a>
    </div>

    <div class="box">
      <i class="fas fa-fax"></i>
      <a>816-235-1310</a>
    </div>

    <div class="box">
      <i class="fas fa-map-marker-alt"></i>
      <a>Atterbury Student Success Center</a>
      <a>Room 120</a>
      <a>5000 Holmes Street</a>
      <a>Kansas City, MO 64110</a>
    </div>
  </div>

</section>