<!-- home section starts  -->

<div class="container-fluid">       
   <div class="row">
       <div aria-label="Background Image" class="col-*-* header-image-container" role="img" style="background-image: url(https://www.umkc.edu/news/posts/2020/december/december-pics/class_before_covid.jpg);">
           <!--<img alt="UMKC's Fine Arts Building" class="img-fluid"  src="/images/academics/UMKC-Academics.jpg" /> -->
                                   <div class="header-text header-title text-white px-md-5 px-4">
                   <h1 class="page-title">GTA/Grader</h1>
               </div>
                           </div>
   </div>
</div>

<!-- /.Top Video or Header Image -->
<!-- Breadcrumbs -->


<div class="breadcrumbs 123">
    <div class="content-wrapper">
    <a href="https://www.umkc.edu/index.html">Home</a> / <a href="/">GTA/Grader</a>
    </div>
  </div>
<!-- /.Breadcrumbs -->
<!-- Teaser -->
<div class="teaser">
UMKC offers more than 50 GTA/grader jobs, providing you with the opportunity to help out with courses in Computer Science, Electrical and Computer Engineering and Information Technology.
</div>

<!-- /.Teaser -->
<!-- Content Section -->























<div class="container-fluid">
<div class="row text-block">
               <div class="col-lg-3 col-md-4">
<div id="secondary_menu">                   
<nav>
<ul>
   <li class="bg-umkc-light-gray">
       <a class="text-umkc-dark-blue" href="index.html">Dashboard</a>
   </li>
                                                               <li class="bg-umkc-light-gray ">
       <a class="text-umkc-dark-blue" href="/">Home<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
   </li>
                                                               <li class="bg-umkc-light-gray ">
       <a class="text-umkc-dark-blue" href="/jobs">Jobs<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
   </li>
                                                               <li class="bg-umkc-light-gray ">
       <a class="text-umkc-dark-blue" href="/contact">Contact Us<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
   </li>
   <% if(user) { %>
      <% if(user.role === 'admin') { %>
         <li class="bg-umkc-light-gray ">
            <a class="text-umkc-dark-blue" href="/create_job">Create Job<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
        </li>
        <li class="bg-umkc-light-gray ">
         <a class="text-umkc-dark-blue" href="/admin">Admin<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
      </li>
      <li class="bg-umkc-light-gray ">
         <a class="text-umkc-dark-blue" href="/adminJobList">Job List<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
     </li>
      <% } else { %>
         <li class="bg-umkc-light-gray ">
            <a class="text-umkc-dark-blue" href="/studentApp">Application Status<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
        </li>
      <% } %>
      <li class="bg-umkc-light-gray ">
         <a class="text-umkc-dark-blue" href="/logout">Logout<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
     </li>
    <% } else { %>
      <li class="bg-umkc-light-gray ">
         <a class="text-umkc-dark-blue" href="/login">Login<i aria-hidden="true" class="fa fa-angle-right float-right"></i></a>
     </li>
    <% } %>
           </ul>
</nav>
                   <p><sidebar-text/></p>
</div>
</div>
       <div class="col-lg-9 col-md-8">
         <div class="col-xl-9 col-lg-12 block-text p-3" style=""><p>UMKC offers two distinct roles in its educational support system: Graduate Teaching Assistants (GTAs) and Graders. To become a lab instructor, GTA certification is a prerequisite, and you can find information about the certification process <a href="https://catalog.umkc.edu/general-graduate-academic-regulations-information/international-graduate-student-academic-regulations/">here</a>. Questions can be directed to the School of Graduate Studies. If you lack GTA certification, you can still apply for Grader positions. Importantly, international students can only waive GTA certification with a prior US degree.</p>
            <p>Both GTA and Grader positions are subject to weekly hour limits. International F-1 students are restricted to working 20 hours per week, while domestic students and permanent residents can work up to 28 hours per week. Understanding these restrictions is crucial when applying for these roles.</p>
            <p>For the current hiring period, UMKC is exclusively recruiting for Grader positions, and lab instructor positions are not available. Applicants should pay attention to the list of courses that need graders, encompassing various subjects such as computer science and electrical engineering. Undergraduates can only apply to grade courses they've taken at UMKC, whereas master's students can grade undergraduate courses from their prior studies and graduate-level classes taken at UMKC with satisfactory grades (A, A-, or B+). PhD students may be considered for grader roles based on advisor feedback.</p>
            <p>Certain courses also require lab instructors, and applicants must only list courses mentioned in their applications. Detailed course descriptions can be found on the university's website. It's essential not to include a CV/resume, cover letter, or reference letters, as they won't affect potential employment. All selections for these positions will be finalized by November 1st, and a lack of communication from the CSEE Department after this date indicates that the applicant was not selected for a position.</p></div>
                       </div>
</div>
</div>



<!-- START PROGRAM FINDER  -->
<style>
.tt-suggestion {
font-size: 16px;
font-weight: 300;
color: #04487f;
cursor: pointer;
}
</style>
<div class="container fb-container">
<div class="row">
<div class="text-center p-5 program-finder-container">
   <h2 class="text-umkc-blue umkc-roboto-condensed text-umkc-48px">Find Jobs</h2>
<h3 class="text-umkc-dark-blue text-umkc-24px">Start nurturing your passions and honing your skills while exploring opportunities as a Graduate Teaching Assistant or Grader within the university's vibrant academic community.</h3>
   <div class="p-3">
       <form action="https://programs.umkc.edu/s/search.html" class="module-search" method="GET" role="search">
           
           <div class="module-search__group">
               <input aria-labelledby="fb-query" aria-required="true" autocomplete="off" class="module-search__query tt-input" dir="auto" id="query" name="query" placeholder="Start your search here…" spellcheck="false" type="Search query"/>
                   <button class="module-search__button" type="submit">
                       <span class="fa fa-search"></span>
                       <span class="sr-only">Search</span>
                   </button>
           </div>

           <input name="collection" type="hidden" value="umkc-program-finder"/>
           <input name="profile" type="hidden" value="_default"/>
           
           <div class="umkc-btn umkc-btn-dark button-2 my-5" role="button" tabindex="0">
               <a class="text-umkc-white py-3" href="/jobs" title="All Programs">All Jobs</a>
           </div>
           <div class="umkc-btn umkc-btn-dark button-2 my-5" role="button" tabindex="1">
               <a class="text-umkc-white py-3" href="/apply" title="Apply Now">Apply Now</a>
           </div>
       </form>  
</div>
</div>
</div>
</div>
<!-- END PROGRAM FINDER -->

<!-- START AU PROGRAM FINDER -->


<div class="row container-fluid photo-tiles-wrap pt-4 pt-lg-5">
<!-- Photo Tiles Section -->
<h2 class="p-3 text-umkc-48px umkc-roboto-condensed">Job Categories</h2>                <div aria-label="Background Image" class="photo-tile col-lg-6" onclick="void()" role="img" style="background-image:url('https://sse.umkc.edu/images/research-team-group-image-with-lab-images_bx0a0681_055.jpg');">
<div class="photo-tile-overlay">
   <div class="tile-overlay-content-wrap">
       <h3>Computer Science</h3>
       <div class="tile-overlay-content"><ul>
         <li style="margin-bottom: 2vh;">Gain invaluable teaching experience as a Graduate Teaching Assistant (GTA) in computer science courses</li>
         <li style="margin-bottom: 2vh;">Contribute to the success of one of the leading computer science programs in the U.S.</li>
         <li style="margin-bottom: 2vh;">Collaborate with distinguished faculty and play a vital role in students' academic journeys as a Grader</li>
</ul></div>
                       
                                                       
       <div class="umkc-btn umkc-white-border" role="button" tabindex="0"><a class="text-umkc-white py-3" href="/jobs?classPrefix=CS"><span class="btn-arrow-right">Find more Computer Science jobs</span></a></div>                            </div>
</div>
</div>
       <div aria-label="Background Image" class="photo-tile col-lg-6" onclick="void()" role="img" style="background-image:url('https://sse.umkc.edu/images/sse-circuit-theory-ii-class-2022blb_5686.jpg');">
<div class="photo-tile-overlay">
   <div class="tile-overlay-content-wrap">
       <h3>Electrical and Computer Engineering</h3>
       <div class="tile-overlay-content"><ul>
         <li style="margin-bottom: 1vh;">Enhance your teaching skills by becoming a Graduate Teaching Assistant (GTA) in electrical and computer engineering courses</li>
         <li style="margin-bottom: 1vh;">Contribute to the excellence of a prominent electrical and computer engineering program in the U.S.</li>
         <li style="margin-bottom: 1vh;">Work closely with accomplished faculty members and support student learning as a Grader</li>
</ul></div>
                       
                                                       
       <div class="umkc-btn umkc-white-border" role="button" tabindex="0"><a class="text-umkc-white py-3" href="/jobs?classPrefix=ECE"><span class="btn-arrow-right">Find more Electrical and Computer Engineering jobs</span></a></div>                            </div>
</div>
</div>
       <div aria-label="Background Image" class="photo-tile col-lg-6" onclick="void()" role="img" style="background-image:url('https://sse.umkc.edu/images/sce-dr.-lee-portrait-in-computer-lab-with-students-67-6844.jpg');">
<div class="photo-tile-overlay">
   <div class="tile-overlay-content-wrap">
       <h3>Information Technology</h3>
       <div class="tile-overlay-content"><ul>
         <li style="margin-bottom: 2vh;">Develop your teaching abilities as a Graduate Teaching Assistant (GTA) in information technology courses</li>
         <li style="margin-bottom: 2vh;">Play a key role in an information technology program, contributing to students' educational growth</li>
         <li style="margin-bottom: 2vh;">Collaborate with experienced faculty and make a difference in students' learning experiences as a Grader</li>
</ul></div>
                       
                                                       
       <div class="umkc-btn umkc-white-border" role="button" tabindex="0"><a class="text-umkc-white py-3" href="/jobs?classPrefix=IT"><span class="btn-arrow-right">Find more Information Technology jobs</span></a></div>                            </div>
</div>
</div>
   <div class="photo-tiles-outro">
<a class="text-umkc-white py-3"></a></div>            </div></div>


<!-- /.Content Section -->
<!-- /.Page Content -->

<!-- Back 2 Top button -->
<div class="back2top"><i class="fa fa-arrow-up"></i></div>
<!-- /.Back 2 Top button -->
<!-- GDPR BANNNER -->
<div class="privacy-banner">
<div class="text-center banner-wrapper">
<p>We use cookies to provide and improve our services. By using our site, you consent to cookies.</p>
<div class="umkc-btn umkc-btn-dark banner-accept" role="button" tabindex="0"><a class="text-umkc-white py-3" href="#">Accept</a></div>
<div class="umkc-btn umkc-btn-dark banner-learn" role="button" tabindex="0"><a class="text-umkc-white py-3" href="https://umkc.edu/web-policy/privacy.asp">Learn More</a></div>
</div>
</div>
<!-- /.GDPR BANNNER -->
<!-- jQuery and Other Sitewide Scripts -->

<!-- jQuery -->
<script src="https://www.umkc.edu/global-assets/js/jquery.js"></script>
<!-- Custom Scripts -->
<script src="https://www.umkc.edu/global-assets/js/header.js"></script>
<script src="https://www.umkc.edu/global-assets/js/video.js"></script>
<script src="https://www.umkc.edu/global-assets/js/jquery.pajinate.js"></script>
<!-- Bootstrap Core JavaScript-->
<script src="https://www.umkc.edu/global-assets/js/bootstrap/bootstrap.min.js"></script>
<script src="https://www.umkc.edu/global-assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="https://www.umkc.edu/global-assets/js/jquery.basictable.min.js"></script>
<script src="https://www.umkc.edu/global-assets/js/umkc-toc.js"></script>
<!-- Rave Alerts -->
<script async="" src="https://www.umkc.edu/global-assets/js/alerts.js"></script>
<!-- Freshdesk reporting -->
<script>
window.fwSettings={
'widget_id':47000005928
};
!function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}()
</script>
<script async="" defer="" src="https://widget.freshworks.com/widgets/47000005928.js" type="text/javascript"></script>
<script>
FreshworksWidget('hide', 'launcher');
FreshworksWidget('prefill', 'ticketForm', {
 type: 'Report an issue',
 custom_fields: {
    cf_url: window.location.href
 }
});
FreshworksWidget('disable', 'ticketForm', ['custom_fields.cf_url']);
FreshworksWidget('hide', 'ticketForm', ['custom_fields.cf_unit_or_department', 'group_id', 'product_id', 'custom_fields.cf_url', 'type']);
const issues = document.querySelector(".footer__curator a[href*='/submit-a-web-ticket.html']") !== null;
if ( issues ) {
  issues.addEventListener("click", function(e) {
     e.preventDefault();
     FreshworksWidget("open");
  });
}
</script>

<!-- ./jQuery and Other Sitewide Scripts -->
<!-- Local Scripts -->

<script src="https://umkc.edu/_files/js/clipboard.js" type="text/javascript"></script>
<script src="https://umkc.edu/_files/js/local.js" type="text/javascript"></script>
<script src="https://umkc.edu/_files/js/email-sig.js" type="text/javascript"></script>

<!-- ./Local Scripts -->
<!-- Google Analytics Code -->
<script>// <![CDATA[
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5482723-2', 'auto');
ga('create', 'UA-5482723-17',{'name':'oldUMKC'}); // create a new tracking object
ga('create', 'UA-89352600-1',{'name':'UMKCrollup'}); // add to UMKC rollup account
ga('send', 'pageview');
ga ('oldUMKC.send','pageview'); //send pageview data to old UMKC property
ga ('UMKCrollup.send','pageview'); //send pageview data to UMKC rollup account
// ]]></script>
<!-- ./Google Analytics Code -->
<!-- Campus Connect Chat  -->

<!-- ./Campus Connect Chat -->
</body>